.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 25px;
}

.checkoutProduct--info{
    padding-left: 20px;
}

.checkoutProduct--info button{
    background: #F7CA00;
    border: 1px solid;
    border-color: #9b8212;
    margin-top: 10px;
    color: black;
    border-radius: 5px;
}

.checkoutProductImage{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct--title{
    font-size: 18px;
    font-weight: 700;
}