

.header{
    background-color: rgb(19,25,33);
    display: flex;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header--logo{
    width: 100px;
    margin: 0 20px;
    margin-top: 18px;
    object-fit: contain;
}

.header--locationIcon{
    
    padding-top: 2px;
    color: aliceblue;
    /* padding-top: 1%;   */
}

.header--address{
    display: row;
    color: aliceblue;
    padding-right: 12px ;
}

.header--addressLineOne{
    font-size: 10px;
     padding-right: 7%;

}
.header--addressLineTwo{
    font-size: 13px;
    font-weight: 700;
}
.header--nav{
    padding-left: 12px;
    display: flex;
    justify-content: space-evenly;
}

.header--option{
    color: white;
    display: flex;
    /* padding: 5px; */
    /* margin-top: ; */
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 10px;
    
}
.header--optionLineOne{
     font-size: 10px;
     padding-right: 7%;
}

.header--optionLineTwo{
    font-size: 13px;
    font-weight: 700;
}

.header--optionBasket{
    /* display: row; */
    /* flex-direction: row; */
    color: aliceblue;
    /* margin-left: 4px; */
    justify-content: space-evenly;
    padding: 6px;
    padding-top: 2px;
    /* padding-right: 4%; */
}

.header--optionBasketCount{
    
    /* display: flex; */
    flex-direction: column;
    /* padding:3px; */
    padding: 2px;
    font-size: 15px;
    font-weight: 600;
    /* padding-left: 58%; */
    padding-left: 2px;
    margin-right: 10px;
    
    /* justify-content: space-evenly; */
}
.header--search{
    display: flex;
    flex: 1;
    align-items: center;
    /* border-radius: 10px; */
}
.header--searchInput{
    padding: 10px;
    height: 14px;
    border: none;
    width: 100%;
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px;
}
.header--searchIcon{
  padding: 5px;
  margin: 0px;
  height: 22px;
    background-color:#FEBD69;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    
}